VITE_DESCUENTO=5
VITE_OFERTA=8500
VITE_CONTACT_PHONE=549000000000
VITE_ATTENTION_DAYS=Lun a Dom 19:00–24:00
VITE_WHATSAPP_REPLY=¡Gracias por tu pedido! 😊
VITE_WHATSAPP_NUMBER=549000000000
VITE_LOGO_PATH=/logo-altoke.png